.lowlife.sheet.actor {
    .window-content {
        font-family: "FiraCode";
        color: @text-color;
        background: @bg-color;
        button {
            background-color: @text-color;
            width: 100%;
        }
        input {
            color: @text-color;
        }
        form {
            button {
                border: none;
            }
        }
        ::placeholder {
            opacity: 0.5;
            color: @text-color;
        }
        .initiative-roll {
            color: @text-color;
        }
        .initiative-roll:hover {
            color: @hover-color;
            text-decoration: underline;
        }
        select {
            color: @text-color;
            background: @bg-color;
        }
        textarea {
            font-family: "FiraCode";
            color: @text-color;
            border-color: @text-color;
        }
        .item-create:hover {
            color: @hover-color;
            text-shadow: none;
        }
        .item-roll:hover {
            color: @hover-color;
            text-decoration: underline;
        }
        .attr-roll:hover {
            color: @hover-color;
            text-decoration: underline;
        }
        .luck-roll:hover {
            color: @hover-color;
            text-decoration: underline;
        }
        .weapon-roll:hover {
            color: @hover-color;
            text-decoration: underline;
        }
        .specialty-roll:hover {
            color: @hover-color;
            text-decoration: underline;
        }
        .enemy-weapon1:hover {
            color: @hover-color;
            text-decoration: underline;
        }
        .enemy-weapon2:hover {
            color: @hover-color;
            text-decoration: underline;
        }
        .enemy-weapon3:hover {
            color: @hover-color;
            text-decoration: underline;
        }
    }
}