.lowlife.sheet.actor {
    form {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .header-img {
        float: left;
        padding: 0 15px 15px;
        height: 27%;
        width: 27%;
    }
    .header-name {
        float: left;
        height: 20%;
        width: 60%;
        padding-right: 3%;
        .name {
            height: 15%;
        }
    }
    .header-level {
        float: left;
        height: 20%;
        width: 12%;
        padding-right: 0.75%;

    }
    .header-content {
        float: left;
        width: 72%;
        height: 27%;
        .header-table {
            th, td {
                padding: 3px 5px 3px 5px;
            }
            .reroll {
                width: 43%;
            }
        }
    }
    .main {
        height: 100%;
    }
    .sidebar {
        display:inline-block;
        vertical-align: top;
        padding-left: 15px;
        width: 25%;
        .sidebar-table {
            th, td {
                padding: 3px;
                text-align: center;
            }
            label {
                text-transform: uppercase;
                font-weight: bold;
                text-align: center;
            }
        }
    }
    .info-section {
        display: inline-block;
        vertical-align: top;
        padding-left: 8px;
        width: 73%;
        height: 10%;
    }
    .sheet-tabs {
        width: 100%;
        .item-adversary {
            padding: 0px 40px 0px 46px;
            width: 33.3%;
            text-align: center;
            text-transform: uppercase;
        }
        .item-adversary:hover {
            color: @hover-color;
            text-shadow: none;
        }
        .item-lifer {
            padding: 0px 6px 0px 6px;
            text-transform: uppercase;
            text-align: center;
        }
        .item-lifer:hover {
            color: @hover-color;
            text-shadow: none;
            text-decoration: underline;
        }
    }
    .sheet-content {
        width: 70%;
        height: 700%;
        .tab {
            padding-top: 25px;
            height: 100%;
        }
        textarea {
            resize: none;
            width: 143%;
            height: 75%;
        }
        .section-table {
            width: 143%;
        }
        .skills {
            font-size: 75%;
        }
        .trait {
            vertical-align: middle;
            font-size: 85%;
        }
        .trait-input {
            width: 30px;
        }
    }
    .vehicle-content {
        textarea {
            height: 75px;
        }
        .crew-section {
            height: 225px;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            img {
                width: 80px;
                height: 80px;
                margin: 5px;
            }
            .edit-icon {
                margin-left: 27px;
            }
        }
    }
}