.chat-card {
    width: 100%;
    .dragon-damage,
    .melee-damage,
    .perc-damage {
        width: 100% !important;
    }    
    .chat-icon {
        float: left;
        width: 25%;
        height: 25%;
        margin-right: 5px;
    }
    .chat-header {
        width: 70%;
        font-weight: bold;
        float: left;
    }
    .chat-body {
        width: 70%;
        float: left;
    }
}