//fonts
@font-face {
    font-family: "FiraCode";
    src: url("fonts/FiraCode-Regular.otf");
}

@font-face {
    font-family: "FiraCode";
    src: url("fonts/FiraCode-Bold.otf");
    font-weight: bold;
}

@font-face {
    font-family: "FiraCode";
    src: url("fonts/FiraCode-Light.otf");
    font-weight: lighter;
}

//colors
@bg-color: #1e1e1e;
@text-color: #f2f2f2;
@hover-color: #52d1f8;

//background
@sheet-background: @bg-color;