.lowlife.sheet.item {
    .window-content {
        font-family: "FiraCode";
        color: @text-color;
        background: @bg-color;
        input {
            color: @text-color;
        }
        .initiative-button {
            color: @text-color;
        }
        select {
            color: @text-color;
            background: @bg-color;
        }
        textarea {
            font-family: "FiraCode";
            color: @text-color;
            border-color: @text-color;
        }
    }
}