.lowlife.sheet.item {
    form {
        display: flex;
        flex-direction: column;
    }
    .sheet-content {
        height: 100%;
        display: flex;
        flex-direction: column;
        textarea {
            resize: none;
            height: 75%;
        }
    }
}