.lowlife.sheet.item form {
  display: flex;
  flex-direction: column;
}
.lowlife.sheet.item .sheet-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.lowlife.sheet.item .sheet-content textarea {
  resize: none;
  height: 75%;
}
.lowlife.sheet.actor form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.lowlife.sheet.actor .header-img {
  float: left;
  padding: 0 15px 15px;
  height: 27%;
  width: 27%;
}
.lowlife.sheet.actor .header-name {
  float: left;
  height: 20%;
  width: 60%;
  padding-right: 3%;
}
.lowlife.sheet.actor .header-name .name {
  height: 15%;
}
.lowlife.sheet.actor .header-level {
  float: left;
  height: 20%;
  width: 12%;
  padding-right: 0.75%;
}
.lowlife.sheet.actor .header-content {
  float: left;
  width: 72%;
  height: 27%;
}
.lowlife.sheet.actor .header-content .header-table th,
.lowlife.sheet.actor .header-content .header-table td {
  padding: 3px 5px 3px 5px;
}
.lowlife.sheet.actor .header-content .header-table .reroll {
  width: 43%;
}
.lowlife.sheet.actor .main {
  height: 100%;
}
.lowlife.sheet.actor .sidebar {
  display: inline-block;
  vertical-align: top;
  padding-left: 15px;
  width: 25%;
}
.lowlife.sheet.actor .sidebar .sidebar-table th,
.lowlife.sheet.actor .sidebar .sidebar-table td {
  padding: 3px;
  text-align: center;
}
.lowlife.sheet.actor .sidebar .sidebar-table label {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}
.lowlife.sheet.actor .info-section {
  display: inline-block;
  vertical-align: top;
  padding-left: 8px;
  width: 73%;
  height: 10%;
}
.lowlife.sheet.actor .sheet-tabs {
  width: 100%;
}
.lowlife.sheet.actor .sheet-tabs .item-adversary {
  padding: 0px 40px 0px 46px;
  width: 33.3%;
  text-align: center;
  text-transform: uppercase;
}
.lowlife.sheet.actor .sheet-tabs .item-adversary:hover {
  color: #52d1f8;
  text-shadow: none;
}
.lowlife.sheet.actor .sheet-tabs .item-lifer {
  padding: 0px 6px 0px 6px;
  text-transform: uppercase;
  text-align: center;
}
.lowlife.sheet.actor .sheet-tabs .item-lifer:hover {
  color: #52d1f8;
  text-shadow: none;
  text-decoration: underline;
}
.lowlife.sheet.actor .sheet-content {
  width: 70%;
  height: 700%;
}
.lowlife.sheet.actor .sheet-content .tab {
  padding-top: 25px;
  height: 100%;
}
.lowlife.sheet.actor .sheet-content textarea {
  resize: none;
  width: 143%;
  height: 75%;
}
.lowlife.sheet.actor .sheet-content .section-table {
  width: 143%;
}
.lowlife.sheet.actor .sheet-content .skills {
  font-size: 75%;
}
.lowlife.sheet.actor .sheet-content .trait {
  vertical-align: middle;
  font-size: 85%;
}
.lowlife.sheet.actor .sheet-content .trait-input {
  width: 30px;
}
.lowlife.sheet.actor .vehicle-content textarea {
  height: 75px;
}
.lowlife.sheet.actor .vehicle-content .crew-section {
  height: 225px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.lowlife.sheet.actor .vehicle-content .crew-section img {
  width: 80px;
  height: 80px;
  margin: 5px;
}
.lowlife.sheet.actor .vehicle-content .crew-section .edit-icon {
  margin-left: 27px;
}
@font-face {
  font-family: "FiraCode";
  src: url("fonts/FiraCode-Regular.otf");
}
@font-face {
  font-family: "FiraCode";
  src: url("fonts/FiraCode-Bold.otf");
  font-weight: bold;
}
@font-face {
  font-family: "FiraCode";
  src: url("fonts/FiraCode-Light.otf");
  font-weight: lighter;
}
.chat-card {
  width: 100%;
}
.chat-card .dragon-damage,
.chat-card .melee-damage,
.chat-card .perc-damage {
  width: 100% !important;
}
.chat-card .chat-icon {
  float: left;
  width: 25%;
  height: 25%;
  margin-right: 5px;
}
.chat-card .chat-header {
  width: 70%;
  font-weight: bold;
  float: left;
}
.chat-card .chat-body {
  width: 70%;
  float: left;
}
.lowlife.sheet.actor .window-content {
  font-family: "FiraCode";
  color: #f2f2f2;
  background: #1e1e1e;
}
.lowlife.sheet.actor .window-content button {
  background-color: #f2f2f2;
  width: 100%;
}
.lowlife.sheet.actor .window-content input {
  color: #f2f2f2;
}
.lowlife.sheet.actor .window-content form button {
  border: none;
}
.lowlife.sheet.actor .window-content ::placeholder {
  opacity: 0.5;
  color: #f2f2f2;
}
.lowlife.sheet.actor .window-content .initiative-roll {
  color: #f2f2f2;
}
.lowlife.sheet.actor .window-content .initiative-roll:hover {
  color: #52d1f8;
  text-decoration: underline;
}
.lowlife.sheet.actor .window-content select {
  color: #f2f2f2;
  background: #1e1e1e;
}
.lowlife.sheet.actor .window-content textarea {
  font-family: "FiraCode";
  color: #f2f2f2;
  border-color: #f2f2f2;
}
.lowlife.sheet.actor .window-content .item-create:hover {
  color: #52d1f8;
  text-shadow: none;
}
.lowlife.sheet.actor .window-content .item-roll:hover {
  color: #52d1f8;
  text-decoration: underline;
}
.lowlife.sheet.actor .window-content .attr-roll:hover {
  color: #52d1f8;
  text-decoration: underline;
}
.lowlife.sheet.actor .window-content .luck-roll:hover {
  color: #52d1f8;
  text-decoration: underline;
}
.lowlife.sheet.actor .window-content .weapon-roll:hover {
  color: #52d1f8;
  text-decoration: underline;
}
.lowlife.sheet.actor .window-content .specialty-roll:hover {
  color: #52d1f8;
  text-decoration: underline;
}
.lowlife.sheet.actor .window-content .enemy-weapon1:hover {
  color: #52d1f8;
  text-decoration: underline;
}
.lowlife.sheet.actor .window-content .enemy-weapon2:hover {
  color: #52d1f8;
  text-decoration: underline;
}
.lowlife.sheet.actor .window-content .enemy-weapon3:hover {
  color: #52d1f8;
  text-decoration: underline;
}
.lowlife.sheet.item .window-content {
  font-family: "FiraCode";
  color: #f2f2f2;
  background: #1e1e1e;
}
.lowlife.sheet.item .window-content input {
  color: #f2f2f2;
}
.lowlife.sheet.item .window-content .initiative-button {
  color: #f2f2f2;
}
.lowlife.sheet.item .window-content select {
  color: #f2f2f2;
  background: #1e1e1e;
}
.lowlife.sheet.item .window-content textarea {
  font-family: "FiraCode";
  color: #f2f2f2;
  border-color: #f2f2f2;
}
