<form class="{{cssClass}}" autocomplete="off">

    {{!-- header --}}
    <header>
        <div class="header-img"><img src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/></div>
        <div class="header-name"><h1><input class="name" name="name" type="text" value="{{actor.name}}" placeholder="Handle"/></h1></div>
        <div class="header-content">
            <table class="header-table">
                <tr>
                    <th style="text-align: right;">{{localize "lowlife.stats.hp"}}</th>
                    <td style="text-align: left;">
                        <input name="system.hp.value" type="text" value="{{actor.system.hp.value}}" data-dtype="Number" />
                    </td>
                    <td>/</td>
                    <td style="text-align: left;">
                        <input name="system.hp.max" type="text" value="{{actor.system.hp.max}}" data-dtype="Number" />
                    </td>
                    <td>&nbsp; &nbsp;</td>
                    <th style="text-align: right;">{{localize "lowlife.stats.atkBonus"}}</th>
                    <td style="text-align: left;">
                        <input name="system.atkBonus" type="text" value="{{actor.system.atkBonus}}" data-dtype="Number" />
                    </td>
                </tr>
                <tr>
                    <th style="text-align: right;">{{localize "lowlife.stats.defence"}}</th>
                    <td style="text-align: left;">
                        <input name="system.defence" type="text" value="{{actor.system.defence}}" data-dtype="Number" />
                    </td>
                    <td> </td>
                    <td> </td>
                    <td>&nbsp; &nbsp;</td>
                    <th style="text-align: right;">{{localize "lowlife.stats.move"}}</th>
                    <td style="text-align: left;">
                        <input name="system.move" type="text" value="{{actor.system.move}}" data-dtype="Number" />
                    </td>
                </tr>
                <tr>
                    <th style="text-align: right;">{{localize "lowlife.stats.ar"}}</th>
                    <td style="text-align: left;">
                        <input name="system.ar" type="text" value="{{actor.system.ar}}" data-dtype="Number" />
                    </td>
                    <td> </td>
                    <td> </td>
                    <td>&nbsp; &nbsp;</td>
                    <th style="text-align: right;">{{localize "lowlife.stats.reroll"}}</th>
                    <td style="text-align: left;">
                        <input class="reroll" name="system.reroll.value" type="text" value="{{actor.system.reroll.value}}" data-dtype="String" /> / <input class="reroll" name="system.reroll.max" type="text" value="{{actor.system.reroll.max}}" data-dtype="String" />
                    </td>
                </tr>
            </table>
        </div>
    </header>

<div class="main">

    {{!-- sidebar --}}
    <div class="sidebar">

        {{!-- attributes --}}
        <table class="sidebar-table">
            <tr>
                <th>{{localize "lowlife.stats.attr"}}</th>
                <th>{{localize "lowlife.stats.score"}}</th>
                <th>{{localize "lowlife.stats.mod"}}</th>
            </tr>
            {{#each actor.system.attributes as |attribute key|}}
            <tr>
                <td
                class="attr-roll"
                data-value="{{attribute.value}}"
                data-label="{{key}}">
                    <label>{{key}}</label>
                </td>
                <td>
                    <input type="text" name="system.attributes.{{key}}.value" value="{{attribute.value}}" data-dtype="Number" />
                </td>
                <td>{{numberFormat attribute.mod decimals=0 sign=true}}</td>
            </tr>
            {{/each}}
        </table>

        {{!-- luck --}}
        <table class="sidebar-table">
            <tr>
                <td
                    class="luck-roll"
                    data-resource="luck"
                    data-roll="1d20"
                    data-value="{{actor.system.luck.value}}"
                    data-label="Luck">
                        <label>luck</label>
                </td>
                <td>
                    <input type="text" name="system.luck.value" value="{{actor.system.luck.value}}" data-dtype="Number" />
                </td>
                <td>
                    <input type="text" name="system.luck.max" value="{{actor.system.luck.max}}" data-dtype="Number" />
                </td>
                <td>
                    <select id="luck-modifier">
                        <option data-attr="" data-mod="0"> </option>
                        {{#each actor.system.attributes}}
                            <option data-attr="{{@key}}" data-mod="{{@mod}}">{{@key}}</option>
                        {{/each}}
                    </select>
                </td>
            </tr>
        </table>
    </div>

    <div class="info-section">

        {{!-- navigation --}}
        <nav class="sheet-tabs" data-group="primary">
            <a class="item-adversary" data-tab="combat">combat</a>
            <a class="item-adversary" data-tab="conditions">conditions/traits</a>
            <a class="item-adversary" data-tab="gear">gear/loot</a>
        </nav>
    
        {{!-- main section --}}
        <section class="sheet-content">
            
            {{!-- combat --}}
            <div class="tab" data-group="primary" data-tab="combat">
    
                {{!-- attacks --}}
                <table class="section-table">
                    <tr>
                        <th><label for="data.attacks.one.name" class="enemy-weapon1">ATTACK 1</label></th>
                        <th><label for="data.attacks.one.dmg">DAMAGE</label></th>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" name="system.attacks.one.name" value="{{actor.system.attacks.one.name}}" data-dtype="String" />
                        </td>
                        <td>
                            <input type="text" name="system.attacks.one.dmg" value="{{actor.system.attacks.one.dmg}}" data-dtype="String" />
                        </td>
                    </tr>
                    <tr>
                        <th><label for="data.attacks.two.name" class="enemy-weapon2">ATTACK 2</label></th>
                        <th><label for="data.attacks.two.dmg">DAMAGE</label></th>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" name="system.attacks.two.name" value="{{actor.system.attacks.two.name}}" data-dtype="String" />
                        </td>
                        <td>
                            <input type="text" name="system.attacks.two.dmg" value="{{actor.system.attacks.two.dmg}}" data-dtype="String" />
                        </td>
                    </tr>
                    <tr>
                        <th><label for="data.attacks.three.name" class="enemy-weapon3">ATTACK 3</label></th>
                        <th><label for="data.attacks.three.dmg">DAMAGE</label></th>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" name="system.attacks.three.name" value="{{actor.system.attacks.three.name}}" data-dtype="String" />
                        </td>
                        <td>
                            <input type="text" name="system.attacks.three.dmg" value="{{actor.system.attacks.three.dmg}}" data-dtype="String" />
                        </td>
                    </tr>
                </table>
    
                {{!-- nat 19 --}}
                <table class="section-table">
                    <tr>
                        <th>NAT 19</th>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" name="system.nat19" value="{{actor.system.nat19}}" data-dtype="String" />
                        </td>
                    </tr>
                </table>
                <textarea name="system.note">{{actor.system.note}}</textarea>
            </div>
            
            {{!-- conditions and traits --}}
            <div class="tab" data-group="primary" data-tab="conditions">
    
                {{!-- traits --}}
                <table class="section-table">
                    <tr>
                        <th colspan="4">TRAITS</th>
                    </tr>
                    <tr>
                        <td style="width: 25%">
                            <label class="trait"><input class="trait" type="checkbox" name="system.traits.causeTrauma" {{checked actor.system.traits.causeTrauma}} data-dtype="Boolean" /> Cause Trauma</label>
                        </td>
                        <td style="width: 25%">
                            <label class="trait"><input class="trait" type="checkbox" name="system.traits.incorporeal" {{checked actor.system.traits.incorporeal}} data-dtype="Boolean" /> Incorporeal</label>
                        </td>
                        <td style="width: 27%">
                            <label class="trait"><input class="trait" type="checkbox" name="system.traits.offTurnCheck" {{checked actor.system.traits.offTurnCheck}} data-dtype="Boolean" /> Off Turn Attack</label>
                        </td>
                        <td>
                            <label class="trait"><input class="trait" type="checkbox" name="system.traits.undead" {{checked actor.system.traits.undead}} data-dtype="Boolean" /> Undead</label>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 25%">
                            <label class="trait"><input class="trait" type="checkbox" name="system.traits.digitalEntity" {{checked actor.system.traits.digitalEntity}} data-dtype="Boolean" /> Digital Entity</label>
                        </td>
                        <td style="width: 25%">
                            <label class="trait"><input class="trait" type="checkbox" name="system.traits.lycanthrope" {{checked actor.system.traits.lycanthrope}} data-dtype="Boolean" /> lycanthrope</label>
                        </td>
                        <td style="width: 27%">
                            <label class="trait"><input class="trait" type="checkbox" name="system.traits.swarm" {{checked actor.system.traits.swarm}} data-dtype="Boolean" /> Swarm</label>
                        </td>
                        <td>
                            <label class="trait"><input class="trait" type="checkbox" name="system.traits.carCrusher" {{checked actor.system.traits.carCrusher}} data-dtype="Boolean" /> Car Crusher</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="trait"><input class="trait" type="checkbox" name="system.traits.regeneration.box" {{checked actor.system.traits.regeneration.box}} data-dtype="Boolean" /> Regeneration</label>
                        </td>
                        <td>
                            <input type="text" name="system.traits.regeneration.amt" value="{{actor.system.traits.regeneration.amt}}" data-dtype="String" />
                        </td>
                        <td>
                            <input type="text" name="system.traits.regeneration.type" value="{{actor.system.traits.regeneration.type}}" data-dtype="String" />
                        </td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="trait"><input class="trait" type="checkbox" name="system.traits.weaponResist.box" {{checked actor.system.traits.weaponResist.box}} data-dtype="Boolean" /> Weapon Resistance</label>
                        </td>
                        <td>
                            <input type="text" name="system.traits.weaponResist.amt" value="{{actor.system.traits.weaponResist.amt}}" data-dtype="String" />
                        </td>
                        <td>
                            <input type="text" name="system.traits.weaponResist.type" value="{{actor.system.traits.weaponResist.type}}" data-dtype="String" />
                        </td>
                        <td> </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="trait"><input class="trait" type="checkbox" name="system.traits.magicResist.box" {{checked actor.system.traits.magicResist.box}} data-dtype="Boolean" /> Magic Resistance</label>
                        </td>
                        <td>
                            <input type="text" name="system.traits.magicResist.amt" value="{{actor.system.traits.magicResist.amt}}" data-dtype="String" />
                        </td>
                        <td> </td>
                        <td></td>
                    </tr>
                </table>

                {{!-- conditions --}}
                <table class="section-table">
                    <tr>
                        <th colspan="4">CONDITIONS</th>
                    </tr>
                    <tr>
                        <td>
                            <label class="trait"><input class="trait" type="checkbox" name="system.conditions.blind" {{checked actor.system.conditions.blind}} data-dtype="Boolean" /> Blind</label>
                        </td>
                        <td>
                            <label class="trait"><input class="trait" type="checkbox" name="system.conditions.burning" {{checked actor.system.conditions.burning}} data-dtype="Boolean" /> Burning</label>
                        </td>
                        <td>
                            <label class="trait"><input class="trait" type="checkbox" name="system.conditions.dazed" {{checked actor.system.conditions.dazed}} data-dtype="Boolean" /> Dazed</label>
                        </td>
                        <td>
                            <label class="trait"><input class="trait" type="checkbox" name="system.conditions.fatigued" {{checked actor.system.conditions.fatigued}} data-dtype="Boolean" /> Fatigued</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="trait"><input class="trait" type="checkbox" name="system.conditions.grabbed" {{checked actor.system.conditions.grabbed}} data-dtype="Boolean" /> Grabbed</label>
                        </td>
                        <td>
                            <label class="trait"><input class="trait" type="checkbox" name="system.conditions.helpless" {{checked actor.system.conditions.helpless}} data-dtype="Boolean" /> Helpless</label>
                        </td>
                        <td>
                            <label class="trait"><input class="trait" type="checkbox" name="system.conditions.nearBlind" {{checked actor.system.conditions.nearBlind}} data-dtype="Boolean" /> Near Blind</label>
                        </td>
                        <td>
                            <label class="trait"><input class="trait" type="checkbox" name="system.conditions.prone" {{checked actor.system.conditions.prone}} data-dtype="Boolean" /> Prone</label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label class="trait"><input class="trait" type="checkbox" name="system.conditions.sick" {{checked actor.system.conditions.sick}} data-dtype="Boolean" /> Sick</label>
                        </td>
                        <td>
                            <label class="trait"><input class="trait" type="checkbox" name="system.conditions.staggered" {{checked actor.system.conditions.staggered}} data-dtype="Boolean" /> Staggered</label>
                        </td>
                        <td>
                            <label class="trait"><input class="trait" type="checkbox" name="system.conditions.starving" {{checked actor.system.conditions.starving}} data-dtype="Boolean" /> Starving</label>
                        </td>
                        <td>
                            <label class="trait"><input class="trait" type="checkbox" name="system.conditions.stunned" {{checked actor.system.conditions.stunned}} data-dtype="Boolean" /> Stunned</label>
                        </td>
                    </tr>
                </table>
            </div>
    
            {{!-- gear --}}
            <div class="tab" data-group="primary" data-tab="gear">
                <textarea name="system.gear">{{actor.system.gear}}</textarea>
            </div>
    
        </section>
        </div>
    </div>

</form>