<form class="{{cssClass}}" autocomplete="off">

    {{!-- header --}}
    <header>
        <div class="header-img"><img src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/></div>
        <div class="header-name"><h1><input class="name" name="name" type="text" value="{{actor.name}}" placeholder="Handle"/></h1></div>
        <div class="header-level">
            <label for="system.level">Level</label>
            <input name="system.level" type="text" value="{{actor.system.level}}" data-dtype="Number" />    
        </div>
        <div class="header-content">
            <table class="header-table">
                <tr>
                    <th style="text-align: right;">{{localize "lowlife.stats.hp"}}</th>
                    <td style="text-align: left;">
                        <input name="system.hp.value" type="text" value="{{actor.system.hp.value}}" data-dtype="Number" />
                    </td>
                    <td>/</td>
                    <td style="text-align: left;">
                        <input name="system.hp.max" type="text" value="{{actor.system.hp.max}}" data-dtype="Number" />
                    </td>
                    <td>&nbsp; &nbsp;</td>
                    <th style="text-align: right;">{{localize "lowlife.stats.atkBonus"}}</th>
                    <td style="text-align: left;">
                        <input name="system.atkBonus" type="text" value="{{actor.system.atkBonus}}" data-dtype="Number" />
                    </td>
                </tr>
                <tr>
                    <th style="text-align: right;">{{localize "lowlife.stats.defence"}}</th>
                    <td style="text-align: left;">
                        <input name="system.defence" type="text" value="{{actor.system.defence}}" data-dtype="Number" />
                    </td>
                    <td> </td>
                    <td> </td>
                    <td>&nbsp; &nbsp;</td>
                    <th style="text-align: right;">{{localize "lowlife.stats.move"}}</th>
                    <td style="text-align: left;">
                        <input name="system.move" type="text" value="{{actor.system.move}}" data-dtype="Number" />
                    </td>
                </tr>
                <tr>
                    <th style="text-align: right;">{{localize "lowlife.stats.ar"}}</th>
                    <td style="text-align: left;">
                        <input name="system.ar" type="text" value="{{actor.system.ar}}" data-dtype="Number" disabled />
                    </td>
                    <td> </td>
                    <td> </td>
                    <td>&nbsp; &nbsp;</td>
                    <th style="text-align: right;">{{localize "lowlife.stats.reroll"}}</th>
                    <td style="text-align: left;">
                        <input class="reroll" name="system.reroll.value" type="text" value="{{actor.system.reroll.value}}" data-dtype="String" /> / <input class="reroll" name="system.reroll.max" type="text" value="{{actor.system.reroll.max}}" data-dtype="String" />
                    </td>
                </tr>
            </table>
        </div>
    </header>

<div class="main">

    {{!-- sidebar --}}
    <div class="sidebar">

        {{!-- attributes --}}
        <table class="sidebar-table">
            <tr>
                <th>{{localize "lowlife.stats.attr"}}</th>
                <th>{{localize "lowlife.stats.base"}}</th>
                <th>{{localize "lowlife.stats.score"}}</th>
                <th>{{localize "lowlife.stats.mod"}}</th>
            </tr>
            {{#each actor.system.attributes as |attribute key|}}
            <tr>
                <td
                class="attr-roll"
                data-value="{{attribute.value}}"
                data-label="{{key}}">
                    <label>{{key}}</label>
                </td>
                <td>
                    <input type="text" name="system.attributes.{{key}}.base" value="{{attribute.base}}" data-dtype="Number" />
                </td>
                <td>
                    <input type="text" name="system.attributes.{{key}}.value" value="{{attribute.value}}" data-dtype="Number" />
                </td>
                <td>{{numberFormat attribute.mod decimals=0 sign=true}}</td>                
            </tr>
            {{/each}}
        </table>

        {{!-- initiative --}}
        <table class="sidebar-table">
            <tr>
                <td
                    class="initiative-roll"
                    data-resource="initiative"
                    data-roll="1d20"
                    data-value="{{actor.system.initiative}}"
                    data-label="Initiative">
                        <label>initiative</label>
                </td>
                <td>
                    <label for="system.initMod" style="font-size: 75%;">Modifier</label>
                    <input type="text" name="system.initMod" value="{{actor.system.initMod}}" data-dtype="Number" />
                </td>
            </tr>
        </table>

        {{!-- luck --}}
        <table class="sidebar-table">
            <tr>
                <td
                    class="luck-roll"
                    data-resource="luck"
                    data-roll="1d20"
                    data-value="{{actor.system.luck.value}}"
                    data-label="Luck">
                        <label>luck</label>
                </td>
                <td>
                    <input type="text" name="system.luck.value" value="{{actor.system.luck.value}}" data-dtype="Number" />
                </td>
                <td>
                    <input type="text" name="system.luck.max" value="{{actor.system.luck.max}}" data-dtype="Number" />
                </td>
                <td>
                    <select id="luck-modifier">
                        <option data-attr="" data-mod="0"> </option>
                        {{#each actor.system.attributes}}
                            <option data-attr="{{@key}}" data-mod="{{@mod}}">{{@key}}</option>
                        {{/each}}
                    </select>
                </td>
            </tr>
        </table>

        {{!-- rest buttons --}}
        <button style="margin-bottom: 5px;" id="short-rest" type="button">Short Rest</button>
        <button id="long-rest" type="button">Long Rest</button>
    </div>

    <div class="info-section">

    {{!-- navigation --}}
    <nav class="sheet-tabs" data-group="primary">
        <a class="item-lifer" data-tab="combat">combat</a>
        <a class="item-lifer" data-tab="bio">bio</a>
        <a class="item-lifer" data-tab="social">social</a>
        <a class="item-lifer" data-tab="skills">skills</a>
        <a class="item-lifer" data-tab="abilities">abilities</a>
        <a class="item-lifer" data-tab="gear">gear</a>
        <a class="item-lifer" data-tab="spells">spells</a>
        <a class="item-lifer" data-tab="setbacks">setbacks</a>
    </nav>

    {{!-- main section --}}
    <section class="sheet-content">

        {{!-- combat --}}
        <div class="tab" data-group="primary" data-tab="combat">

            {{!-- weapons table --}}
            <table class="section-table item-list">
                <tr>
                    <th colspan="9">Weapons &nbsp;
                    <a class="item-create" data-type="weapon" title="Add Weapon"><i class="fas fa-plus"></i></a>
                    </th>
                </tr>
                <tr>
                    <th style="text-align: left; padding-left: 3px; width:16%;">Weapon</th>
                    <th style="text-align: left; width: 7%;">Type</th>
                    <th style="text-align: left; width: 9%;">Range</th>
                    <th style="text-align: left; width: 8%;">Dmg</th>
                    <th style="text-align: left; width: 12%;">Nat 19</th>
                    <th style="text-align: left; width: 14%;">Conceal</th>
                    <th style="text-align: left; width: 18%;">Ammo</th>
                    <th style="text-align: left; width: 8%;">Jam</th>
                    <th style="width: 8%;"></th>
                </tr>
                {{#each weapon as |weapon id|}}
                <tr class="item" data-item-id="{{weapon._id}}">
                    <td class="weapon-roll">{{name}}</td>
                    <td>{{system.class}}</td>
                    <td>{{system.range}}</td>
                    <td>{{system.dmg}}</td>
                    <td>{{system.nat19}}</td>
                    <td>{{system.conc}}</td>
                    <td>{{system.magCurrent}}/{{system.magMax}}</td>
                    <td>{{system.jam}}</td>
                    <td style="text-align: right;">
                        <a class="item-edit" title="Edit"><i class="fas fa-edit"></i></a>
                        <a class="item-delete" title="Delete"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
                {{/each}}
            </table>

            {{!-- specialAmmo table --}}
            <table class="section-table item-list">
                <tr>
                    <th colspan="9">Specialty Ammo &nbsp;
                    <a class="item-create" data-type="specialAmmo" title="Add Special Ammo"><i class="fas fa-plus"></i></a>
                    </th>
                </tr>
                <tr>
                    <th style="text-align: left; padding-left: 3px; width:16%;">Firearm</th>
                    <th style="text-align: left; width: 7%;">Damage</th>
                    <th style="text-align: left; width: 18%;">Ammo</th>
                    <th style="width: 8%;"></th>
                </tr>
                {{#each specialAmmo as |specialAmmo id|}}
                <tr class="item" data-item-id="{{specialAmmo._id}}">
                    <td class="specialty-roll">{{system.forWeapon}} ({{system.ammoType}})</td>
                    <td>{{system.dmg}}</td>
                    <td>{{system.magCurrent}}/{{system.magMax}}</td>
                    <td style="text-align: right;">
                        <a class="item-edit" title="Edit"><i class="fas fa-edit"></i></a>
                        <a class="item-delete" title="Delete"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
                {{/each}}
            </table>

            {{!-- conditions --}}
            <table class="section-table">
                <tr>
                    <th colspan="4">Conditions</th>
                </tr>
                <tr>
                    <td>
                        <label class="trait"><input type="checkbox" class="trait" name="system.conditions.blind" data-dtype="Boolean" {{checked actor.system.conditions.blind}} /> Blind</label>
                    </td>
                    <td>
                        <label class="trait"><input type="checkbox" class="trait" name="system.conditions.burning" data-dtype="Boolean" {{checked actor.system.conditions.burning}} /> Burning</label>
                    </td>
                    <td>
                        <label class="trait"><input type="checkbox" class="trait" name="system.conditions.dazed" data-dtype="Boolean" {{checked actor.system.conditions.dazed}} /> Dazed</label>
                    </td>
                    <td>
                        <label class="trait"><input type="checkbox" class="trait" name="system.conditions.fatigued" data-dtype="Boolean" {{checked actor.system.conditions.fatigued}} /> Fatigued</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="trait"><input type="checkbox" class="trait" name="system.conditions.grabbed" data-dtype="Boolean" {{checked actor.system.conditions.grabbed}} /> Grabbed</label>
                    </td>
                    <td>
                        <label class="trait"><input type="checkbox" class="trait" name="system.conditions.helpless" data-dtype="Boolean" {{checked actor.system.conditions.helpless}} /> Helpless</label>
                    </td>
                    <td>
                        <label class="trait"><input type="checkbox" class="trait" name="system.conditions.nearBlind" data-dtype="Boolean" {{checked actor.system.conditions.nearBlind}} /> Near Blind</label>
                    </td>
                    <td>
                        <label class="trait"><input type="checkbox" class="trait" name="system.conditions.prone" data-dtype="Boolean" {{checked actor.system.conditions.prone}} /> Prone</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="trait"><input type="checkbox" class="trait" name="system.conditions.sick" data-dtype="Boolean" {{checked actor.system.conditions.sick}} /> Sick</label>
                    </td>
                    <td>
                        <label class="trait"><input type="checkbox" class="trait" name="system.conditions.staggered" data-dtype="Boolean" {{checked actor.system.conditions.staggered}} /> Staggered</label>
                    </td>
                    <td>
                        <label class="trait"><input type="checkbox" class="trait" name="system.conditions.starving" data-dtype="Boolean" {{checked actor.system.conditions.starving}} /> Starving</label>
                    </td>
                    <td>
                        <label class="trait"><input type="checkbox" class="trait" name="system.conditions.stunned" data-dtype="Boolean" {{checked actor.system.conditions.stunned}} /> Stunned</label>
                    </td>
                </tr>
            </table>

            {{!-- additional notes --}}
            <textarea name="system.combatNote">{{actor.system.combatNote}}</textarea>

        </div>

        {{!-- bio --}}
        <div class="tab" data-group="primary" data-tab="bio">

            <table class="section-table">
                <tr>
                    <th>Race</th>
                    <th>Class</th>
                    <th>Background</th>
                    <th>Turning Point</th>
                </tr>
                <tr>
                    <td>
                        <input type="text" name="system.race" value="{{actor.system.race}}" data-dtype="String" />
                    </td>
                    <td>
                        <input type="text" name="system.class" value="{{actor.system.class}}" data-dtype="String" />
                    </td>
                    <td>
                        <input type="text" name="system.background" value="{{actor.system.background}}" data-dtype="String" />
                    </td>
                    <td>
                        <input type="text" name="system.turningPoint" value="{{actor.system.turningPoint}}" data-dtype="String" />
                    </td>
                </tr>
                <tr>
                    <th>Gender</th>
                    <th>Age</th>
                    <th>Height</th>
                    <th>Weight</th>
                </tr>
                <tr>
                    <td>
                        <input type="text" name="system.gender" value="{{actor.system.gender}}" data-dtype="String" />
                    </td>
                    <td>
                        <input type="text" name="system.age" value="{{actor.system.age}}" data-dtype="String" />
                    </td>
                    <td>
                        <input type="text" name="system.height" value="{{actor.system.height}}" data-dtype="String" />
                    </td>
                    <td>
                        <input type="text" name="system.weight" value="{{actor.system.weight}}" data-dtype="String" />
                    </td>
                </tr>
            </table>
        
            {{!-- additional notes --}}
            <textarea name="system.note">{{actor.system.note}}</textarea>

        </div>

        {{!-- social --}}
        <div class="tab" data-group="primary" data-tab="social">

            <table class="section-table">
                <tr>
                    <th>Living Standard</th>
                    <th>Address</th>
                    <th>Ceracoin</th>
                    <th style="width: 50px;">Heat Rating</th>
                </tr>
                <tr>
                    <td style="padding-left: 15px;">
                        <select style="padding-left: 15px;" name="system.livingStandard">
                            {{#select actor.system.livingStandard}}
                            {{#each config.livingStandard as |name type|}}
                            <option value="{{type}}">{{name}}</option>
                            {{/each}}
                            {{/select}}
                        </select>
                    </td>
                    <td>
                        <input type="text" name="system.address" value="{{actor.system.address}}" data-dtype="String" />
                    </td>
                    <td>
                        <input type="text" name="system.ceracoin" value="{{actor.system.ceracoin}}" data-dtype="Number" />
                    </td>
                    <td>
                        <input type="text" name="system.heat" value="{{actor.system.heat}}" data-dtype="Number" />
                    </td>
                </tr>
            </table>

            {{!-- contacts --}}
            <table class="section-table item-list">
                <tr>
                    <th colspan="5">Contacts &nbsp;
                        <a class="item-create" data-type="contact" title="Add Contact"><i class="fas fa-plus"></i></a>
                    </th>
                </tr>
                <tr>
                    <th style="text-align: left; padding-left: 3px; width: 24%;">Name</th>
                    <th style="text-align: left; width: 16%;">Rating</th>
                    <th style="text-align: left; width: 27%;">Profession</th>
                    <th style="text-align: left; width: 25%;">Location</th>
                    <th style="width: 8%;"></th>
                </tr>
                {{#each contact as |contact id|}}
                <tr class="item" data-item-id="{{contact._id}}">
                    <td class="item-roll">{{name}}</td>
                    <td>{{system.rating}}</td>
                    <td>{{system.profession}}</td>
                    <td>{{system.location}}</td>
                    <td style="text-align: right;">
                        <a class="item-edit" title="Edit"><i class="fas fa-edit"></i></a>
                        <a class="item-delete" title="Delete"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
                {{/each}}
            </table>

        </div>

        {{!-- skills --}}
        <div class="tab" data-group="primary" data-tab="skills">

            {{!-- langs, knowledge, and proficiencies --}}
            <table class="section-table">
                <tr>
                    <th>Languages</th>
                    <td>
                        <input type="text" name="system.languages.value" value="{{actor.system.languages.value}}" data-dtype="String" />
                    </td>
                </tr>
                <tr>
                    <th>Knowledges</th>
                    <td>
                        <input type="text" name="system.knowledge.value" value="{{actor.system.knowledge.value}}" data-dtype="String" />
                    </td>
                </tr>
                <tr>
                    <th>Senses</th>
                    <td>
                        <input type="text" name="system.senses.value" value="{{actor.system.senses.value}}" data-dtype="String" />
                    </td>
                </tr>
                <tr>
                    <th>Weapon Proficiencies</th>
                    <td>
                        <input type="text" name="system.weaponProf.value" value="{{actor.system.weaponProf.value}}" data-dtype="String" />
                    </td>
                </tr>
            </table>

            {{!-- skills --}}
            <table class="section-table">
                <tr>
                    <th colspan="4">Skills</th>
                </tr>
                <tr class="skills">
                    <td>
                        <input type="checkbox" class="trait" name="system.skills.acrobatics" data-dtype="Boolean" {{checked actor.system.skills.acrobatics}} />
                        <label
                        class="trait attr-roll"
                        data-value="{{actor.system.attributes.dex.value}}"
                        data-label="Acrobatics"> Acrobatics</label>
                    </td>
                    <td>
                        <input type="checkbox" class="trait" name="system.skills.athleticsStr" data-dtype="Boolean" {{checked actor.system.skills.athleticsStr}} />
                        <label
                        class="trait attr-roll"
                        data-value="{{actor.system.attributes.str.value}}"
                        data-label="Athletics"> Athletics (STR)</label>
                    </td>
                    <td>
                        <input type="checkbox" class="trait" name="system.skills.athleticsCon" data-dtype="Boolean" {{checked actor.system.skills.athleticsCon}} />
                        <label
                        class="trait attr-roll"
                        data-value="{{actor.system.attributes.str.value}}"
                        data-label="Athletics"> Athletics (CON)</label>
                    </td>
                    <td>
                        <input type="checkbox" class="trait" name="system.skills.computer" data-dtype="Boolean" {{checked actor.system.skills.computer}} />
                        <label
                        class="trait attr-roll"
                        data-value="{{actor.system.attributes.int.value}}"
                        data-label="Computer"> Computer</label>
                    </td>
                </tr>
                <tr class="skills">
                    <td>
                        <input type="checkbox" class="trait" name="system.skills.cybernetics" data-dtype="Boolean" {{checked actor.system.skills.cybernetics}} />
                        <label
                        class="trait attr-roll"
                        data-value="{{actor.system.attributes.int.value}}"
                        data-label="Cybernetics"> Cybernetics</label>
                    </td>
                    <td>
                        <input type="checkbox" class="trait" name="system.skills.deception" data-dtype="Boolean" {{checked actor.system.skills.deception}} />
                        <label
                        class="trait attr-roll"
                        data-value="{{actor.system.attributes.cha.value}}"
                        data-label="Deception"> Deception</label>
                    </td>
                    <td>
                        <input type="checkbox" class="trait" name="system.skills.demo" data-dtype="Boolean" {{checked actor.system.skills.demo}} />
                        <label
                        class="trait attr-roll"
                        data-value="{{actor.system.attributes.int.value}}"
                        data-label="Demo"> Demo</label>
                    </td>
                    <td>
                        <input type="checkbox" class="trait" name="system.skills.detection" data-dtype="Boolean" {{checked actor.system.skills.detection}} />
                        <label
                        class="trait attr-roll"
                        data-value="{{actor.system.attributes.perc.value}}"
                        data-label="Detection"> Detection</label>
                    </td>
                </tr>
                <tr class="skills">
                    <td>
                        <input type="checkbox" class="trait" name="system.skills.disguiseCha" data-dtype="Boolean" {{checked actor.system.skills.disguiseCha}} />
                        <label
                        class="trait attr-roll"
                        data-value="{{actor.system.attributes.cha.value}}"
                        data-label="Disguise"> Disguise & Forgery (CHA)</label>
                    </td>
                    <td>
                        <input type="checkbox" class="trait" name="system.skills.disguiseInt" data-dtype="Boolean" {{checked actor.system.skills.disguiseInt}} />
                        <label
                        class="trait attr-roll"
                        data-value="{{actor.system.attributes.int.value}}"
                        data-label="Disguise"> Disguise & Forgery (INT)</label>
                    </td>
                    <td>
                        <input type="checkbox" class="trait" name="system.skills.driving" data-dtype="Boolean" {{checked actor.system.skills.driving}} />
                        <label
                        class="trait attr-roll"
                        data-value="{{actor.system.attributes.dex.value}}"
                        data-label="Driving"> Driving</label>
                    </td>
                    <td>
                        <input type="checkbox" class="trait" name="system.skills.electronics" data-dtype="Boolean" {{checked actor.system.skills.electronics}} />
                        <label
                        class="trait attr-roll"
                        data-value="{{actor.system.attributes.int.value}}"
                        data-label="Electronics"> Electronics</label>
                    </td>
                </tr>
                <tr class="skills">
                    <td>
                        <input type="checkbox" class="trait" name="system.skills.firstAid" data-dtype="Boolean" {{checked actor.system.skills.firstAid}} />
                        <label
                        class="trait attr-roll"
                        data-value="{{actor.system.attributes.int.value}}"
                        data-label="First Aid"> First Aid</label>
                    </td>
                    <td>
                        <input type="checkbox" class="trait" name="system.skills.gatherInfo" data-dtype="Boolean" {{checked actor.system.skills.gatherInfo}} />
                        <label
                        class="trait attr-roll"
                        data-value="{{actor.system.attributes.cha.value}}"
                        data-label="Gather Info"> Gather Info</label>
                    </td>
                    <td>
                        <input type="checkbox" class="trait" name="system.skills.knowledgeSkill" data-dtype="Boolean" {{checked actor.system.skills.knowledgeSkill}} />
                        <label
                        class="trait attr-roll"
                        data-value="{{actor.system.attributes.int.value}}"
                        data-label="Knowledge"> Knowledge</label>
                    </td>
                    <td>
                        <input type="checkbox" class="trait" name="system.skills.leadership" data-dtype="Boolean" {{checked actor.system.skills.leadership}} />
                        <label
                        class="trait attr-roll"
                        data-value="{{actor.system.attributes.cha.value}}"
                        data-label="Leadership"> Leadership</label>
                    </td>
                </tr>
                <tr class="skills">
                    <td>
                        <input type="checkbox" class="trait" name="system.skills.mechanicDex" data-dtype="Boolean" {{checked actor.system.skills.mechanicDex}} />
                        <label
                        class="trait attr-roll"
                        data-value="{{actor.system.attributes.dex.value}}"
                        data-label="Mechanic"> Mechanic (DEX)</label>
                    </td>
                    <td>
                        <input type="checkbox" class="trait" name="system.skills.mechanicInt" data-dtype="Boolean" {{checked actor.system.skills.mechanicInt}} />
                        <label
                        class="trait attr-roll"
                        data-value="{{actor.system.attributes.int.value}}"
                        data-label="Mechanic"> Mechanic (INT)</label>
                    </td>
                    <td>
                        <input type="checkbox" class="trait" name="system.skills.persuasion" data-dtype="Boolean" {{checked actor.system.skills.persuasion}} />
                        <label
                        class="trait attr-roll"
                        data-value="{{actor.system.attributes.cha.value}}"
                        data-label="Persuasion"> Persuasion</label>
                    </td>
                    <td>
                        <input type="checkbox" class="trait" name="system.skills.piloting" data-dtype="Boolean" {{checked actor.system.skills.piloting}} />
                        <label
                        class="trait attr-roll"
                        data-value="{{actor.system.attributes.dex.value}}"
                        data-label="Piloting"> Piloting</label>
                    </td>
                    
                </tr>
                <tr class="skills">
                    <td>
                        <input type="checkbox" class="trait" name="system.skills.remoteControl" data-dtype="Boolean" {{checked actor.system.skills.remoteControl}} />
                        <label
                        class="trait attr-roll"
                        data-value="{{actor.system.attributes.dex.value}}"
                        data-label="Remote Control"> Remote Control</label>
                    </td>
                    <td>
                        <input type="checkbox" class="trait" name="system.skills.sailing" data-dtype="Boolean" {{checked actor.system.skills.sailing}} />
                        <label
                        class="trait attr-roll"
                        data-value="{{actor.system.attributes.dex.value}}"
                        data-label="Sailing"> Sailing</label>
                    </td>
                    <td>
                        <input type="checkbox" class="trait" name="system.skills.sleightOfHand" data-dtype="Boolean" {{checked actor.system.skills.sleightOfHand}} />
                        <label
                        class="trait attr-roll"
                        data-value="{{actor.system.attributes.dex.value}}"
                        data-label="Sleight of Hand"> Sleight of Hand</label>
                    </td>
                    <td>
                        <input type="checkbox" class="trait" name="system.skills.stealth" data-dtype="Boolean" {{checked actor.system.skills.stealth}} />
                        <label
                        class="trait attr-roll"
                        data-value="{{actor.system.attributes.dex.value}}"
                        data-label="Stealth"> Stealth</label>
                    </td>
                </tr>
                <tr class="skills">
                    <td>
                        <input type="checkbox" class="trait" name="system.skills.survivalInt" data-dtype="Boolean" {{checked actor.system.skills.survivalInt}} />
                        <label
                        class="trait attr-roll"
                        data-value="{{actor.system.attributes.int.value}}"
                        data-label="Survival"> Survival (INT)</label>
                    </td>
                    <td>
                        <input type="checkbox" class="trait" name="system.skills.survivalPerc" data-dtype="Boolean" {{checked actor.system.skills.survivalPerc}} />
                        <label
                        class="trait attr-roll"
                        data-value="{{actor.system.attributes.perc.value}}"
                        data-label="Survival"> Survival (PERC)</label>
                    </td>
                </tr>
            </table>

        </div>

        {{!-- abilities --}}
        <div class="tab" data-group="primary" data-tab="abilities">

            <table class="section-table">
                <tr>
                    <th colspan="5">Class and Cross-Class Ability Tallies</th>
                </tr>
                <tr>
                    <td>
                        <input style="width: 200%;" type="text" name="system.classAbility.name" value="{{actor.system.classAbility.name}}" placeholder="Class Ability" data-dtype="String" />
                    </td>
                    <td style="padding-left: 17%;">
                        <input style="width: 25%" type="text" name="system.classAbility.current" value="{{actor.system.classAbility.current}}" data-dtype="Number" />
                        /
                        <input style="width: 25%" type="text" name="system.classAbility.max" value="{{actor.system.classAbility.max}}" data-dtype="Number" />
                    </td>
                    <td> &ensp; </td>
                    <td>
                        <input style="width: 200%;" type="text" name="system.crossClassOne.name" value="{{actor.system.crossClassOne.name}}" placeholder="Cross-Class 1" data-dtype="String" />
                    </td>
                    <td style="padding-left: 17%;">
                        <input style="width: 25%" type="text" name="system.crossClassOne.current" value="{{actor.system.crossClassOne.current}}" data-dtype="Number" />
                        /
                        <input style="width: 25%" type="text" name="system.crossClassOne.max" value="{{actor.system.crossClassOne.max}}" data-dtype="Number" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <input style="width: 200%;" type="text" name="system.crossClassTwo.name" value="{{actor.system.crossClassTwo.name}}" placeholder="Cross-Class 2" data-dtype="String" />
                    </td>
                    <td style="padding-left: 17%;">
                        <input style="width: 25%" type="text" name="system.crossClassTwo.current" value="{{actor.system.crossClassTwo.current}}" data-dtype="Number" />
                        /
                        <input style="width: 25%" type="text" name="system.crossClassTwo.max" value="{{actor.system.crossClassTwo.max}}" data-dtype="Number" />
                    </td>
                    <td> &ensp; </td>
                    <td>
                        <input style="width: 200%;" type="text" name="system.crossClassThree.name" value="{{actor.system.crossClassThree.name}}" placeholder="Cross-Class 3" data-dtype="String" />
                    </td>
                    <td style="padding-left: 17%;">
                        <input style="width: 25%" type="text" name="system.crossClassThree.current" value="{{actor.system.crossClassThree.current}}" data-dtype="Number" />
                        /
                        <input style="width: 25%" type="text" name="system.crossClassThree.max" value="{{actor.system.crossClassThree.max}}" data-dtype="Number" />
                    </td>
                </tr>
            </table>

            <table class="section-table item-list">
                <tr>
                    <th colspan="4">Class Abilities and Unique Features &nbsp;
                        <a class="item-create" data-type="ability" title="Add Ability"><i class="fas fa-plus"></i></a>
                    </th>
                </tr>
                <tr>
                    <th style="text-align: left; padding-left: 3px; width: 20%;">Name</th>
                    <th style="text-align: left; padding: 0px 10px 0px 10px; width: 40%;">Description</th>
                    <th style="text-align: left; width: 32%;">Uses Remaining</th>
                    <th style="width: 8%;"></th>
                </tr>
                {{#each ability as |ability id|}}
                <tr class="item" data-item-id="{{ability._id}}">
                    <td class="item-roll">{{name}}</td>
                    <td style="padding: 0px 10px 0px 10px">{{system.shortDesc}}</td>
                    <td>{{system.useVal}}</td>
                    <td style="text-align: right;">
                        <a class="item-edit" title="Edit"><i class="fas fa-edit"></i></a>
                        <a class="item-delete" title="Delete"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
                {{/each}}
            </table>

        </div>

        {{!-- gear --}}
        <div class="tab" data-group="primary" data-tab="gear">

            {{!-- vehicles --}}
            <table class="section-table item-list">
                <tr>
                    <th colspan="7">Vehicles &nbsp;
                        <a class="item-create" data-type="vehicle" title="Add Vehicle"><i class="fas fa-plus"></i></a>
                    </th>
                </tr>
                <tr>
                    <th style="text-align: left; padding-left: 3px; width: 20%;">Name</th>
                    <th style="text-align: left; width: 13%;">Class</th>
                    <th style="text-align: left; width: 14%;">Defence</th>
                    <th style="text-align: left; width: 7%;">AR</th>
                    <th style="text-align: left; width: 14%;">System</th>
                    <th style="text-align: left; width: 24%;">Speed</th>
                    <th style="width: 8%;"></th>
                </tr>
                {{#each vehicle as |vehicle id|}}
                <tr class="item" data-item-id="{{vehicle._id}}">
                    <td class="item-roll">{{name}}</td>
                    <td>{{system.class}}</td>
                    <td>{{system.defence}}</td>
                    <td>{{system.ar}}</td>
                    <td>{{system.sys}}</td>
                    <td>{{system.speed}}</td>
                    <td style="text-align: right;">
                        <a class="item-edit" title="Edit"><i class="fas fa-edit"></i></a>
                        <a class="item-delete" title="Delete"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
                {{/each}}
            </table>

            {{!-- armour --}}
            <table class="section-table item-list">
                <tr>
                    <th colspan="4">Armour &nbsp;
                        <a class="item-create" data-type="armour" title="Add Armour"><i class="fas fa-plus"></i></a>
                    </th>
                </tr>
                <tr>
                    <th style="text-align: left; padding-left: 3px; width: 20%;">Name</th>
                    <th style="text-align: left; width: 12%;">AR</th>
                    <th style="text-align: left; width: 60%;">Perception Chance</th>
                    <th style="width: 8%;"></th>
                </tr>
                {{#each armour as |armour id|}}
                <tr class="item" data-item-id="{{armour._id}}">
                    <td class="item-roll">{{name}}</td>
                    <td>{{system.ar}}</td>
                    <td>{{system.perc}}</td>
                    <td style="text-align: right;">
                        <a class="item-edit" title="Edit"><i class="fas fa-edit"></i></a>
                        <a class="item-delete" title="Delete"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
                {{/each}}
            </table>

            {{!-- drugs --}}
            <table class="section-table item-list">
                <tr>
                    <th colspan="7">Drugs &nbsp;
                        <a class="item-create" data-type="drug" title="Add Drug"><i class="fas fa-plus"></i></a>
                    </th>
                </tr>
                <tr>
                    <th style="text-align: left; padding: 0px 4px 0px 4px; width: 14%;">Name</th>
                    <th style="text-align: left; padding: 0px 4px 0px 4px; width: 14%;">Class</th>
                    <th style="text-align: left; padding: 0px 4px 0px 4px; width: 15%;">Onset</th>
                    <th style="text-align: left; padding: 0px 4px 0px 4px; width: 15%;">Duration</th>
                    <th style="text-align: left; padding: 0px 4px 0px 4px; width: 23%;">High</th>
                    <th style="text-align: left; padding: 0px 4px 0px 4px; width: 11%;">Addict Chance</th>
                    <th style="width: 8%;"></th>
                </tr>
                {{#each drug as |drug id|}}
                <tr class="item" data-item-id="{{drug._id}}">
                    <td class="item-roll" style="padding: 0px 4px 0px 4px">{{name}}</td>
                    <td style="padding: 0px 4px 0px 4px">{{system.class}}</td>
                    <td style="padding: 0px 4px 0px 4px">{{system.onsetDie}}&nbsp;{{system.onsetPeriod}}</td>
                    <td style="padding: 0px 4px 0px 4px">{{system.durationDie}}&nbsp;{{system.durationPeriod}}</td>
                    <td style="padding: 0px 4px 0px 4px">{{system.high}}</td>
                    <td style="padding: 0px 4px 0px 4px">{{system.addiction}}</td>
                    <td style="text-align: right;">
                        <a class="item-edit" title="Edit"><i class="fas fa-edit"></i></a>
                        <a class="item-delete" title="Delete"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
                {{/each}}
            </table>

            {{!-- toxins --}}
            <table class="section-table item-list">
                <tr>
                    <th colspan="6">Toxins &nbsp;
                        <a class="item-create" data-type="toxin" title="Add Toxin"><i class="fas fa-plus"></i></a>
                    </th>
                </tr>
                <tr>
                    <th style="text-align: left; padding-left: 3px; width: 14%;">Name</th>
                    <th style="text-align: left; width: 13%;">Vector</th>
                    <th style="text-align: left; width: 32%;">Effect</th>
                    <th style="text-align: left; width: 18%;">Onset</th>
                    <th style="text-align: left; width: 15%;">Duration</th>
                    <th style="width: 8%;"></th>
                </tr>
                {{#each toxin as |toxin id|}}
                <tr class="item" data-item-id="{{toxin._id}}">
                    <td class="item-roll" style="padding: 0px 6px 0px 0px">{{name}}</td>
                    <td style="padding: 0px 6px 0px 0px">{{system.vector}}</td>
                    <td style="padding: 0px 6px 0px 0px">{{system.effect}}</td>
                    <td style="padding: 0px 6px 0px 0px">{{system.onsetDie}}&nbsp;{{system.onsetPeriod}}</td>
                    <td style="padding: 0px 6px 0px 0px">{{system.durationDie}}&nbsp;{{system.durationPeriod}}</td>
                    <td style="text-align: right;">
                        <a class="item-edit" title="Edit"><i class="fas fa-edit"></i></a>
                        <a class="item-delete" title="Delete"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
                {{/each}}
            </table>

            {{!-- gear --}}
            <table class="section-table item-list">
                <tr>
                    <th colspan="5">Other Gear &nbsp;
                        <a class="item-create" data-type="gear" title="Add Gear"><i class="fas fa-plus"></i></a>
                    </th>
                </tr>
                <tr>
                    <th style="text-align: left; padding-left: 3px; width: 20%;">Name</th>
                    <th style="text-align: left; width: 12%;">Class</th>
                    <th style="text-align: left; width: 42%;">Effect</th>
                    <th style="text-align: left; width: 18%;">System</th>
                    <th style="width: 8%;"></th>
                </tr>
                {{#each gear as |gear id|}}
                <tr class="item" data-item-id="{{gear._id}}">
                    <td class="item-roll">{{name}}</td>
                    <td>{{system.class}}</td>
                    <td>{{system.effect}}</td>
                    <td>{{system.system}}</td>
                    <td style="text-align: right;">
                        <a class="item-edit" title="Edit"><i class="fas fa-edit"></i></a>
                        <a class="item-delete" title="Delete"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
                {{/each}}
            </table>

        </div>

        {{!-- spells --}}
        <div class="tab" data-group="primary" data-tab="spells">

            <table class="section-table item-list">
                <tr>
                    <th colspan="5">Spells &nbsp;
                        <a class="item-create" data-type="spell" title="Add Spell"><i class="fas fa-plus"></i></a>
                    </th>
                </tr>
                <tr>
                    <th style="text-align: left; padding-left: 3px; width: 18%;">Name</th>
                    <th style="text-align: left; width: 11%;">Range</th>
                    <th style="text-align: left; width: 19%;">Duration</th>
                    <th style="text-align: left; width: 44%;">Description</th>
                    <th style="width: 8%;"></th>
                </tr>
                {{#each spell as |spell id|}}
                <tr class="item" data-item-id="{{spell._id}}">
                    <td class="item-roll">{{name}}</td>
                    <td>{{system.range}}</td>
                    <td>{{system.durationDie}}&nbsp;{{system.durationPeriod}}</td>
                    <td>{{system.shortDesc}}</td>
                    <td style="text-align: right;">
                        <a class="item-edit" title="Edit"><i class="fas fa-edit"></i></a>
                        <a class="item-delete" title="Delete"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
                {{/each}}
            </table>

        </div>

        {{!-- setbacks --}}
        <div class="tab" data-group="primary" data-tab="setbacks">

            <table class="section-table item-list">
                <tr>
                    <th colspan="4">Injuries and Setbacks &nbsp;
                        <a class="item-create" data-type="setback" title="Add Setback"><i class="fas fa-plus"></i></a>
                    </th>
                </tr>
                <tr>
                    <th style="text-align: left; padding-left: 3px; width: 22%;">Name</th>
                    <th style="text-align: left; width: 13%;">Type</th>
                    <th style="text-align: left; width: 57%;">Description</th>
                    <th style="width: 8%;"></th>
                </tr>
                {{#each setback as |setback id|}}
                <tr class="item" data-item-id="{{setback._id}}">
                    <td class="item-roll">{{name}}</td>
                    <td>{{system.class}}</td>
                    <td>{{system.shortDesc}}</td>
                    <td style="text-align: right;">
                        <a class="item-edit" title="Edit"><i class="fas fa-edit"></i></a>
                        <a class="item-delete" title="Delete"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
                {{/each}}
            </table>

        </div>

    </section>

    </div>

</div>
</form>