<form class="{{cssClass}}" autocomplete="off">

    {{!-- header --}}
    <header>
        <div class="header-img"><img src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/></div>
        <div class="header-name"><h1><input class="name" name="name" type="text" value="{{actor.name}}" placeholder="Handle"/></h1></div>
        <div class="header-content">
            <table class="header-table">
                <tr>
                    <th style="text-align: right;">{{localize "lowlife.stats.hp"}}</th>
                    <td style="text-align: left;">
                        <input name="system.hp.value" type="text" value="{{actor.system.hp.value}}" data-dtype="Number" />
                    </td>
                    <td>/</td>
                    <td style="text-align: left;">
                        <input name="system.hp.max" type="text" value="{{actor.system.hp.max}}" data-dtype="Number" />
                    </td>
                    <td>&nbsp; &nbsp;</td>
                    <th style="text-align: right;">{{localize "lowlife.stats.atkBonus"}}</th>
                    <td style="text-align: left;">
                        <input name="system.atkBonus" type="text" value="{{actor.system.atkBonus}}" data-dtype="Number" />
                    </td>
                </tr>
                <tr>
                    <th style="text-align: right;">{{localize "lowlife.stats.defence"}}</th>
                    <td style="text-align: left;">
                        <input name="system.defence" type="text" value="{{actor.system.defence}}" data-dtype="Number" />
                    </td>
                    <td> </td>
                    <td> </td>
                    <td>&nbsp; &nbsp;</td>
                    <th style="text-align: right;">{{localize "lowlife.stats.move"}}</th>
                    <td style="text-align: left;">
                        <input name="system.move" type="text" value="{{actor.system.move}}" data-dtype="Number" />
                    </td>
                </tr>
                <tr>
                    <th style="text-align: right;">{{localize "lowlife.stats.ar"}}</th>
                    <td style="text-align: left;">
                        <input name="system.ar" type="text" value="{{actor.system.ar}}" data-dtype="Number" />
                    </td>
                    <td> </td>
                    <td> </td>
                    <td>&nbsp; &nbsp;</td>
                    <th> </th>
                    <td> </td>
                </tr>
            </table>
        </div>
    </header>

<div class="main">

    {{!-- sidebar --}}
    <div class="sidebar">

        {{!-- attributes --}}
        <table class="sidebar-table">
            <tr>
                <th>{{localize "lowlife.stats.attr"}}</th>
                <th>{{localize "lowlife.stats.score"}}</th>
                <th>{{localize "lowlife.stats.mod"}}</th>
            </tr>
            {{#each actor.system.attributes as |attribute key|}}
            <tr>
                <td
                class="attr-roll"
                data-value="{{attribute.value}}"
                data-label="{{key}}">
                    <label>{{key}}</label>
                </td>
                <td>
                    <input type="text" name="system.attributes.{{key}}.value" value="{{attribute.value}}" data-dtype="Number" />
                </td>
                <td>{{numberFormat attribute.mod decimals=0 sign=true}}</td>
            </tr>
            {{/each}}
        </table>

        {{!-- luck --}}
        <table class="sidebar-table">
            <tr>
                <td
                    class="luck-roll"
                    data-resource="luck"
                    data-roll="1d20"
                    data-value="{{actor.system.luck.value}}"
                    data-label="Luck">
                        <label>luck</label>
                </td>
                <td>
                    <input type="text" name="system.luck.value" value="{{actor.system.luck.value}}" data-dtype="Number" />
                </td>
                <td>
                    <input type="text" name="system.luck.max" value="{{actor.system.luck.max}}" data-dtype="Number" />
                </td>
                <td>
                    <select id="luck-modifier">
                        <option data-attr="" data-mod="0"> </option>
                        {{#each actor.system.attributes}}
                            <option data-attr="{{@key}}" data-mod="{{@mod}}">{{@key}}</option>
                        {{/each}}
                    </select>
                </td>
            </tr>
        </table>
    </div>

    <div class="info-section">

    {{!-- section title --}}
    <div class="sheet-tabs" style="text-align: center;">
        NPC INFORMATION
    </div>    

        {{!-- main section --}}
        <section class="sheet-content">

            {{!-- npc quirks and notes --}}
            <div class="tab">

                {{!-- location/profession --}}
                <table class="section-table">
                    <tr>
                        <th>Profession</th>
                        <td>
                            <input type="text" name="system.profession" value="{{actor.system.profession}}" data-dtype="String" />
                        </td>
                        <th>Address</th>
                        <td>
                            <input type="text" name="system.address" value="{{actor.system.address}}" data-dtype="String" />
                        </td>
                    </tr>
                </table>

                {{!-- quirks --}}
                <table class="section-table">
                    <tr>
                        <th colspan="4">Quirks</th>
                    </tr>
                    <tr>
                        <th>Personality Quirk A</th>
                        <td>
                            <input type="text" name="system.personQuirkA" value="{{actor.system.personQuirkA}}" data-dtype="String" />
                        </td>
                        <th>Personality Quirk B</th>
                        <td>
                            <input type="text" name="system.personQuirkB" value="{{actor.system.personQuirkB}}" data-dtype="String" />
                        </td>
                    </tr>
                    <tr>
                        <th>Speech Quirk</th>
                        <td>
                            <input type="text" name="system.speechQuirk" value="{{actor.system.speechQuirk}}" data-dtype="String" />
                        </td>
                        <th>Physical Quirk</th>
                        <td>
                            <input type="text" name="system.physicalQuirk" value="{{actor.system.physicalQuirk}}" data-dtype="String" />
                        </td>
                    </tr>
                </table>

                {{!-- favours --}}
                <table class="section-table">
                    <tr>
                        <th colspan="4">Favours</th>
                    </tr>
                    <tr>
                        <td colspan="4">
                            <input type="text" name="system.favour" value="{{actor.system.favour}}" data-dtype="String" />
                        </td>
                    </tr>
                </table>
                <textarea name="system.note">{{actor.system.note}}</textarea>
            </div>

        </section>

    </div>

</div>
</form>