<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
        <table>
            <tr>
                <th>{{localize "lowlife.vehicle.supply"}}</th>
                <th></th>
                <th>{{localize "lowlife.vehicle.cost"}}</th>
            </tr>
            <tr>
                <td>
                    <input name="system.supply" type="text" value="{{actor.system.supply}}" data-dtype="Number" />
                </td>
                <td>
                    <select name="system.supplyType">
                        {{#select actor.system.supplyType}}
                        {{#each config.supplyTypes as |name type|}}
                        <option value="{{type}}">{{name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>
                <td>
                    <input name="system.cost" type="text" value="{{actor.system.cost}}" data-dtype="Number" />
                </td>
            </tr>
        </table>
    </header>

    <section class="vehicle-content">
        <div class="stats-sheet">
            <table>
                <tr>
                    <th>{{localize "lowlife.vehicle.class"}}</th>
                    <th>{{localize "lowlife.vehicle.speed"}}</th>
                    <th>{{localize "lowlife.vehicle.defence"}}</th>
                    <th>{{localize "lowlife.vehicle.ar"}}</th>
                    <th>{{localize "lowlife.vehicle.sys"}}</th>
                    <th>Crew Quantity</th>
                </tr>
                <tr>
                    <td>
                        <select name="system.class">
                            {{#select actor.system.class}}
                            {{#each config.vehicleTypes as |name type|}}
                            <option value="{{type}}">{{name}}</option>
                            {{/each}}
                            {{/select}}
                        </select>
                    </td>
                    <td>
                        <select name="system.speed">
                            {{#select actor.system.speed}}
                            {{#each config.vehicleSpeeds as |name type|}}
                            <option value="{{type}}">{{name}}</option>
                            {{/each}}
                            {{/select}}
                        </select>
                    </td>
                    <td>
                        <input name="system.defence" type="text" value="{{actor.system.defence}}" data-dtype="Number" />
                    </td>
                    <td>
                        <input name="system.ar" type="text" value="{{actor.system.ar}}" data-dtype="Number" />
                    </td>
                    <td>
                        <input name="system.sys" type="text" value="{{actor.system.sys}}" data-dtype="Number" />
                    </td>
                    <td>
                        <input name="system.crewQty" type="text" value="{{actor.system.crewQty}}" data-dtype="Number" />
                    </td>
                </tr>
            </table>
            <textarea name="system.note">{{actor.system.note}}</textarea>
        </div>

        {{!-- Crew --}}
        <div class="crew-section">
            {{#each actor.system.crew.occupants}}
            <div class="crew-member" data-crew-id="{{id}}">
                <img src="{{actor.img}}" class="crew-edit" title="{{actor.name}}" />
                <div style="margin-top:2px;">
                    <a class="crew-edit edit-icon"><i class="fas fa-edit"></i></a>
                    <a class="crew-delete"><i class="fas fa-trash"></i></a>
                </div>
            </div>
            {{/each}}
        </div>
    </section>
</form>