<div class="chat-card ability" data-type="{{type}}" data-item-id="{{id}}" data-owner-id="{{owner}}">
    <img class="chat-icon" src="{{img}}" title="{{name}}" />
    <div><h3 style="border-bottom: none;">{{name}}</h3></div>
    <hr>
    <div>Uses Remaining: {{system.useVal}} / {{system.useMax}}</div>
    <hr style="margin-bottom: 15px;">
    <div>{{{system.note}}}</div>
    <hr>
    <button class="ability-use">Use Ability</button>
</div>