<div class="chat-card armour" data-type="{{type}}" data-item-id="{{id}}" data-owner-id="{{owner}}">
    <img class="chat-icon" src="{{img}}" title="{{name}}" />
    <div><h3 style="border-bottom: none;">{{name}}</h3></div>
    <hr>
    <div>AR: {{system.ar}} || Perc Mod: {{system.perc}}</div>
    <hr style="margin-bottom: 15px;">
    <div>{{{system.note}}}</div>
</div>