<div class="chat-card contact" data-type="{{type}}" data-item-id="{{id}}" data-owner-id="{{owner}}">
    <img class="chat-icon" src="{{img}}" title="{{name}}" />
        <div><h3 style="border-bottom: none;">{{name}}</h3></div>
        <hr>
        <div>{{system.profession}} || Rating: {{system.rating}}</br>
        Location: {{system.location}}
        </div>
        <hr>
        <div><em>{{{system.note}}}</em></div>
        <hr>
        <button class="network-roll">Networking Check</button>
        <button class="payment-roll">Payment</button>
    </div>
</div>