<div class="chat-card drug" data-type="{{type}}" data-item-id="{{id}}" data-owner-id="{{owner}}">
    <img class="chat-icon" src="{{img}}" title="{{name}}" />
    <div><h3 style="border-bottom: none;">{{name}}</h3></div>
    <hr>
    <div>Class: {{system.class}} || Onset: {{system.onsetDie}} {{system.onsetPeriod}} </br>
        Duration: {{system.durationDie}} {{system.durationPeriod}}</div>
    <hr>
    <div>High: {{system.high}}</div>
    <hr>
    <div>Crash: {{system.crash}}</div>
    <hr>
    <div>{{{system.note}}}</div>
</div>