<div class="chat-card gear" data-type="{{type}}" data-item-id="{{id}}" data-owner-id="{{owner}}">
    <img class="chat-icon" src="{{img}}" title="{{name}}" />
    <div><h3 style="border-bottom: none;">{{name}}</h3></div>
    <hr>
    <div>Class: {{system.class}} || System: {{system.system}}</div>
    <hr style="margin-bottom: 15px;">
    <div>Effect: {{system.effect}}</div>
    <hr>
    <div>{{{system.note}}}</div>
</div>