<div class="chat-card setback" data-type="{{type}}" data-item-id="{{id}}" data-owner-id="{{owner}}">
    <img class="chat-icon" src="{{img}}" title="{{name}}" />
    <div><h3 style="border-bottom: none;">{{name}}</h3></div>
    <hr>
    <div>Type: {{system.class}}</div>
    <hr style="margin-bottom: 15px;">
    <div>{{{system.note}}}</div>
</div>