<div class="chat-card spell" data-type="{{type}}" data-item-id="{{id}}" data-owner-id="{{owner}}">
    <img class="chat-icon" src="{{img}}" title="{{name}}" />
    <div><h3 style="border-bottom: none;">{{name}}</h3></div>
    <hr>
    <div>Range: {{system.range}} </br> Duration: {{system.durationDie}} {{system.durationPeriod}}</div>
    <hr>
    <div>{{{system.note}}}</div>
    <hr>
    <button class="spell-check">Cast Spell</button>
</div>