<div class="chat-card toxin" data-type="{{type}}" data-item-id="{{id}}" data-owner-id="{{owner}}">
    <img class="chat-icon" style="margin-bottom: 5px;" src="{{img}}" title="{{name}}" />
    <div><h3 style="border-bottom: none;">{{name}}</h3></div>
    <hr>
    <div>Vector: {{system.vector}} </br> Onset: {{system.onsetDie}} {{system.onsetPeriod}} </br>
        Duration: {{system.durationDie}} {{system.durationPeriod}}</div>
    <hr>
    <div>Effect: {{system.effect}}</div>
    <hr>
    <div>{{{system.note}}}</div>
</div>