<div class="chat-card vehicle" data-type="{{type}}" data-item-id="{{id}}" data-owner-id="{{owner}}">
    <img class="chat-icon" src="{{img}}" title="{{name}}" />
    <div><h3 style="border-bottom: none;">{{name}}</h3></div>
    <hr>
    <div>Class: {{system.class}} || Speed: {{system.speed}}</br>
        DEF: {{system.defence}} || AR: {{system.ar}} || SYS: {{data.sys}}</div>
    <hr>
    <div>{{{system.note}}}</div>
</div>