<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </header>
    <div class="sheet-content">
        <table>
            <tr>
                <th>{{localize "lowlife.ability.useRemain"}}</th>
                <th>{{localize "lowlife.ability.useMax"}}</th>
            </tr>
            <tr>
                <td>
                    <input name="system.useVal" type="text" value="{{item.system.useVal}}" data-dtype="Number" />
                </td>
                <td>
                    <input name="system.useMax" type="text" value="{{item.system.useMax}}" data-dtype="Number" />
                </td>
            </tr>
            <tr>
                <th colspan="2">Short Description</th>
            </tr>
            <tr>
                <td colspan="2">
                    <input name="system.shortDesc" type="text" value="{{item.system.shortDesc}}" data-dtype="String" />
                </td>
            </tr>
        </table>
        <textarea name="system.note">{{item.system.note}}</textarea>
    </div>
</form>