<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
        <table>
            <tr>
                <th>{{localize "lowlife.armour.supply"}}</th>
                <th></th>
                <th>{{localize "lowlife.armour.cost"}}</th>
            </tr>
            <tr>
                <td>
                    <input name="system.supply" type="text" value="{{item.system.supply}}" data-dtype="Number" />
                </td>
                <td>
                    <select name="system.supplyType">
                        {{#select item.system.supplyType}}
                        {{#each config.supplyTypes as |name type|}}
                        <option value="{{type}}">{{name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>
                <td>
                    <input name="system.cost" type="text" value="{{item.system.cost}}" data-dtype="Number" />
                </td>
            </tr>
        </table>
    </header>
    <div class="sheet-content">
        <table>
            <tr>
                <th>{{localize "lowlife.armour.ar"}}</th>
                <th>{{localize "lowlife.gear.equipped"}}</th>
                <th>{{localize "lowlife.armour.perc"}}</th>
            </tr>
            <tr>
                <td>
                    <input name="system.ar" type="text" value="{{item.system.ar}}" data-dtype="Number" />
                </td>
                <td>
                    <input name="system.equipped" type="checkbox" {{checked item.system.equipped}} data-dtype="Boolean" />
                </td>
                <td>
                    <input name="system.perc" type="text" value="{{item.system.perc}}" data-dtype="String" />
                </td>
            </tr>
        </table>
        <textarea name="system.note">{{item.system.note}}</textarea>
    </div>
</form>