<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </header>
    <div class="sheet-content">
        <table>
            <tr>
                <th>{{localize "lowlife.contact.rating"}}</th>
                <th>{{localize "lowlife.contact.profession"}}</th>
                <th>{{localize "lowlife.contact.location"}}</th>
            </tr>
            <tr>
                <td>
                    <input name="system.rating" type="text" value="{{item.system.rating}}" data-dtype="Number" />
                </td>
                <td>
                    <input name="system.profession" type="text" value="{{item.system.profession}}" data-dtype="String" />
                </td>
                <td>
                    <input name="system.location" type="text" value="{{item.system.location}}" data-dtype="String" />
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <th>{{localize "lowlife.contact.favour"}}</th>
            </tr>
            <tr>
                <td>
                    <input name="system.favour" type="text" value="{{item.system.favour}}" data-dtype="String" />
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <th>{{localize "lowlife.contact.payment"}}</th>
            </tr>
            <tr>
                <td>
                    <input name="system.payment" type="text" value="{{item.system.payment}}" data-dtype="String" />
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <th>{{localize "lowlife.contact.debt"}}</th>
            </tr>
            <tr>
                <td>
                    <input name="system.debt" type="text" value="{{item.system.debt}}" data-dtype="String" />
                </td>
            </tr>
        </table>
        <textarea name="system.note">{{item.system.note}}</textarea>
    </div>
</form>