<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
        <table>
            <tr>
                <th>{{localize "lowlife.drug.class"}}</th>
                <th>{{localize "lowlife.drug.supply"}}</th>
                <th></th>
                <th>{{localize "lowlife.drug.cost"}}</th>
            </tr>
            <tr>
                <td>
                    <select name="system.class">
                        {{#select item.system.class}}
                        {{#each config.drugTypes as |name type|}}
                        <option value="{{type}}">{{name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>
                <td>
                    <input name="system.supply" type="text" value="{{item.system.supply}}" data-dtype="Number" />
                </td>
                <td>
                    <select name="system.supplyType">
                        {{#select item.system.supplyType}}
                        {{#each config.supplyTypes as |name type|}}
                        <option value="{{type}}">{{name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>
                <td>
                    <input name="system.cost" type="text" value="{{item.system.cost}}" data-dtype="Number" />
                </td>
            </tr>
        </table>
    </header>
    <div class="sheet-content">
        <table>
            <tr>
                <th>{{localize "lowlife.drug.onset"}}</th>
                <th> </th>
                <th>{{localize "lowlife.drug.duration"}}</th>
                <th> </th>
                <th>{{localize "lowlife.drug.addiction"}}</th>
            </tr>
            <tr>
                <td>
                    <input name="system.onsetDie" type="text" value="{{item.system.onsetDie}}" data-dtype="String" />
                </td>
                <td>
                    <select name="system.onsetPeriod">
                        {{#select item.system.onsetPeriod}}
                        {{#each config.drugOnset as |name type|}}
                        <option value="{{type}}">{{name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>
                <td>
                    <input name="system.durationDie" type="text" value="{{item.system.durationDie}}" data-dtype="String" />
                </td>
                <td>
                    <select name="system.durationPeriod">
                        {{#select item.system.durationPeriod}}
                        {{#each config.drugDurations as |name type|}}
                        <option value="{{type}}">{{name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>
                <td>
                    <input name="system.addiction" type="text" value="{{item.system.addiction}}" data-dtype="Number" />
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <th>{{localize "lowlife.drug.high"}}</th>
            </tr>
            <tr>
                <td>
                    <input name="system.high" type="text" value="{{item.system.high}}" data-dtype="String" />
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <th>{{localize "lowlife.drug.crash"}}</th>
            </tr>
            <tr>
                <td>
                    <input name="system.crash" type="text" value="{{item.system.crash}}" data-dtype="String" />
                </td>
            </tr>
        </table>
        <textarea name="system.note">{{item.system.note}}</textarea>
    </div>
</form>