<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </header>
    <div class="sheet-content">
        <table>
            <tr>
                <th>{{localize "lowlife.gear.class"}}</th>
                <th>{{localize "lowlife.gear.system"}}</th>
                <th>{{localize "lowlife.gear.supply"}}</th>
                <th></th>
                <th>{{localize "lowlife.gear.cost"}}</th>
            </tr>
            <tr>
                <td>
                    <select name="system.class">
                        {{#select item.system.class}}
                        {{#each config.gearTypes as |name type|}}
                        <option value="{{type}}">{{name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>
                <td>
                    <input name="system.system" type="text" value="{{item.system.system}}" data-dtype="Number" />
                </td>
                <td>
                    <input name="system.supply" type="text" value="{{item.system.supply}}" data-dtype="Number" />
                </td>
                <td>
                    <select name="system.supplyType">
                        {{#select item.system.supplyType}}
                        {{#each config.supplyTypes as |name type|}}
                        <option value="{{type}}">{{name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>
                <td>
                    <input name="system.cost" type="text" value="{{item.system.cost}}" data-dtype="Number" />
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <th>{{localize "lowlife.gear.effect"}}</th>
            </tr>
            <tr>
                <td>
                    <input name="system.effect" type="text" value="{{item.system.effect}}" data-dtype="String" />
                </td>
            </tr>
        </table>
        <textarea name="system.note">{{item.system.note}}</textarea>
    </div>
</form>