<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1 style="font-size: 1vw;"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
        <table>
            <tr>
                <th>{{localize "lowlife.setback.class"}}</th>
            </tr>
            <tr>
                <td style="text-align: center;">
                    <select name="system.class">
                        {{#select item.system.class}}
                        {{#each config.setbackTypes as |name type|}}
                        <option value="{{type}}">{{name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>
            </tr>
        </table>
    </header>
    <div class="sheet-content">
        <div style="padding-bottom: 15px;">
            <input type="text" name="system.shortDesc" value="{{item.system.shortDesc}}" data-dtype="String" />
        </div>
        <textarea name="system.note">{{item.system.note}}</textarea>
    </div>
</form>