<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
        <table>
            <tr>
                <th>{{localize "lowlife.weapon.supply"}}</th>
                <th>{{localize "lowlife.weapon.cost"}}</th>
            </tr>
            <tr>
                <td>
                    <input style="width:50%;" name="system.supply" type="text" value="{{item.system.supply}}" data-dtype="Number" />
                    <select name="system.supplyType">
                        {{#select item.system.supplyType}}
                        {{#each config.supplyTypes as |name type|}}
                        <option value="{{type}}">{{name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>
                <td>
                    <input name="system.cost" type="text" value="{{item.system.cost}}" data-dtype="Number" />
                </td>
            </tr>
        </table>
    </header>
    <div class="sheet-content">
        <table>
            <tr>
                <th></th>
                <th></th>
                <th colspan="2">{{localize "lowlife.ammoTracking.current"}}</th>
            </tr>
            <tr>
                <td>
                    {{localize "lowlife.ammoTracking.type"}}
                    <select name="system.ammoType">
                        {{#select item.system.ammoType}}
                        {{#each config.ammoTypes as |name type|}}
                        <option value="{{type}}">{{name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>
                <td>
                    {{localize "lowlife.ammoTracking.forWeapon"}}
                    <input name="system.forWeapon" type="text" value="{{item.system.forWeapon}}" data-dtype="String" />
                </td>
                <td>
                    <label for="system.magCurrent">Rounds Left</label>
                    <input name="system.magCurrent" type="number" value="{{item.system.magCurrent}}" data-dtype="Number" />
                </td>
                <td>
                    <label for="system.magMax">Mag Max &emsp; &thinsp;</label>
                    <input name="system.magMax" type="number" value="{{item.system.magMax}}" data-dtype="Number" />
                </td>
            </tr>
            <tr>
                <td>
                    {{localize "lowlife.weapon.dmg"}}
                    <input name="system.dmg" type="text" value="{{item.system.dmg}}" data-dtype="String" />
                </td>
                <td>
                    {{localize "lowlife.weapon.jam"}}
                    <input name="system.jam" type="number" value="{{item.system.jam}}" data-dtype="Number" />
                </td>
                <td>
                    {{localize "lowlife.ammoTracking.number"}}
                    <input name="system.magNumber" type="number" value="{{item.system.magNumber}}" data-dtype="Number" />
                </td>
                <td> </td>
            </tr>
        </table>
        <textarea name="system.note">{{item.system.note}}</textarea>
    </div>
</form>