<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1 style="font-size: 1vw;"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </header>
    <div class="sheet-content">
        <table>
            <tr>
                <th>{{localize "lowlife.spell.range"}}</th>
                <th>{{localize "lowlife.spell.duration"}}</th>
                <th> </th>
            </tr>
            <tr>
                <td>
                    <input name="system.range" type="text" value="{{item.system.range}}" data-dtype="String" />
                </td>
                <td>
                    <input name="system.durationDie" type="text" value="{{item.system.durationDie}}" data-dtype="String" />
                </td>
                <td>
                    <select name="system.durationPeriod">
                        {{#select item.system.durationPeriod}}
                        {{#each config.spellDurations as |name type|}}
                        <option value="{{type}}">{{name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>
            </tr>
        </table>
        <div style="padding-bottom: 15px;">
            <input type="text" name="system.shortDesc" value="{{item.system.shortDesc}}" data-dtype="String" />
        </div>
        <textarea name="system.note">{{item.system.note}}</textarea>
    </div>
</form>