<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
        <table>
            <tr>
                <th>{{localize "lowlife.toxin.supply"}}</th>
                <th></th>
                <th>{{localize "lowlife.toxin.cost"}}</th>
            </tr>
            <tr>
                <td>
                    <input name="system.supply" type="text" value="{{item.system.supply}}" data-dtype="Number" />
                </td>
                <td>
                    <select name="system.supplyType">
                        {{#select item.system.supplyType}}
                        {{#each config.supplyTypes as |name type|}}
                        <option value="{{type}}">{{name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>
                <td>
                    <input name="system.cost" type="text" value="{{item.system.cost}}" data-dtype="Number" />
                </td>
            </tr>
        </table>
    </header>
    <div class="sheet-content">
        <table>
            <tr>
                <th>{{localize "lowlife.toxin.vector"}}</th>
                <th>{{localize "lowlife.toxin.onset"}}</th>
                <th> </th>
                <th>{{localize "lowlife.toxin.duration"}}</th>
                <th> </th>
            </tr>
            <tr>
                <td>
                    <input name="system.vector" type="text" value="{{item.system.vector}}" data-dtype="String" />
                </td>
                <td>
                    <input name="system.onsetDie" type="text" value="{{item.system.onsetDie}}" data-dtype="String" />
                </td>
                <td>
                    <select name="system.onsetPeriod">
                        {{#select item.system.onsetPeriod}}
                        {{#each config.toxinOnset as |name type|}}
                        <option value="{{type}}">{{name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>
                <td>
                    <input name="system.durationDie" type="text" value="{{item.system.durationDie}}" data-dtype="String" />
                </td>
                <td>
                    <select name="system.durationPeriod">
                        {{#select item.system.durationPeriod}}
                        {{#each config.toxinDurations as |name type|}}
                        <option value="{{type}}">{{name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <th>{{localize "lowlife.toxin.effect"}}</th>
            </tr>
            <tr>
                <td>
                    <input name="system.effect" type="text" value="{{item.system.effect}}" data-dtype="String" />
                </td>
            </tr>
        </table>
        <textarea name="system.note">{{item.system.note}}</textarea>
    </div>
</form>