<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
        <table>
            <tr>
                <th>{{localize "lowlife.vehicle.supply"}}</th>
                <th></th>
                <th>{{localize "lowlife.vehicle.cost"}}</th>
            </tr>
            <tr>
                <td>
                    <input name="system.supply" type="text" value="{{item.system.supply}}" data-dtype="Number" />
                </td>
                <td>
                    <select name="system.supplyType">
                        {{#select item.system.supplyType}}
                        {{#each config.supplyTypes as |name type|}}
                        <option value="{{type}}">{{name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>
                <td>
                    <input name="system.cost" type="text" value="{{item.system.cost}}" data-dtype="Number" />
                </td>
            </tr>
        </table>
    </header>
    <div class="sheet-content">
        <table>
            <tr>
                <th>{{localize "lowlife.vehicle.class"}}</th>
                <th>{{localize "lowlife.vehicle.speed"}}</th>
                <th>{{localize "lowlife.vehicle.defence"}}</th>
                <th>{{localize "lowlife.vehicle.ar"}}</th>
                <th>{{localize "lowlife.vehicle.sys"}}</th>
            </tr>
            <tr>
                <td>
                    <select name="system.class">
                        {{#select item.system.class}}
                        {{#each config.vehicleTypes as |name type|}}
                        <option value="{{type}}">{{name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>
                <td>
                    <select name="system.speed">
                        {{#select item.system.speed}}
                        {{#each config.vehicleSpeeds as |name type|}}
                        <option value="{{type}}">{{name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>
                <td>
                    <input name="system.defence" type="text" value="{{item.system.defence}}" data-dtype="Number" />
                </td>
                <td>
                    <input name="system.ar" type="text" value="{{item.system.ar}}" data-dtype="Number" />
                </td>
                <td>
                    <input name="system.sys" type="text" value="{{item.system.sys}}" data-dtype="Number" />
                </td>
            </tr>
        </table>
        <textarea name="system.note">{{item.system.note}}</textarea>
    </div>
</form>