<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
        <table>
            <tr>
                <th>{{localize "lowlife.weapon.class"}}</th>
                <th>{{localize "lowlife.weapon.supply"}}</th>
                <th>{{localize "lowlife.weapon.cost"}}</th>
            </tr>
            <tr>
                <td style="padding-right: 3px;">
                    <select name="system.class">
                        {{#select item.system.class}}
                        {{#each config.weaponTypes as |name type|}}
                        <option value="{{type}}">{{name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>
                <td>
                    <input style="width:79%;" name="system.supply" type="text" value="{{item.system.supply}}" data-dtype="Number" />
                    <select name="system.supplyType">
                        {{#select item.system.supplyType}}
                        {{#each config.supplyTypes as |name type|}}
                        <option value="{{type}}">{{name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>
                <td>
                    <input name="system.cost" type="text" value="{{item.system.cost}}" data-dtype="Number" />
                </td>
            </tr>
        </table>
    </header>
    <div class="sheet-content">
        <table>
            <tr>
                <th>{{localize "lowlife.ammoTracking.current"}}</th>
                <th>{{localize "lowlife.ammoTracking.number"}}</th>
            </tr>
            <tr>
                <td>
                    <label for="system.magCurrent">Rounds Left</label>
                    <input name="system.magCurrent" type="number" style="width:25%;" value="{{item.system.magCurrent}}" data-dtype="Number" />
                </td>
                <td>
                    <input name="system.magNumber" type="number" value="{{item.system.magNumber}}" data-dtype="Number" />
                </td>
            </tr>
            <tr>
                <td>
                    <label for="system.magMax">Mag Max &emsp; &thinsp;</label>
                    <input name="system.magMax" type="number" style="width:25%;" value="{{item.system.magMax}}" data-dtype="Number" />
                </td>
                <td> </td>
            </tr>
        </table>
        <table>
            <tr>
                <th>{{localize "lowlife.weapon.attackWith"}}</th>
                <th>{{localize "lowlife.weapon.dmg"}}</th>
                <th>{{localize "lowlife.weapon.nat19"}}</th>
                <th>{{localize "lowlife.weapon.range"}}</th>
                <th>{{localize "lowlife.weapon.jam"}}</th>
                <th>{{localize "lowlife.weapon.conc"}}</th>
            </tr>
            <tr>
                <td>
                    <select name="system.attackWith">
                        {{#select item.system.attackWith}}
                        {{#each config.attackTypes as |name type|}}
                        <option value="{{type}}">{{name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>
                <td>
                    <input name="system.dmg" type="text" value="{{item.system.dmg}}" data-dtype="String" />
                </td>
                <td>
                    <input name="system.nat19" type="text" value="{{item.system.nat19}}" data-dtype="String" />
                </td>
                <td>
                    <input name="system.range" type="text" value="{{item.system.range}}" data-dtype="Number" />
                </td>
                <td>
                    <input name="system.jam" type="text" value="{{item.system.jam}}" data-dtype="String" />
                </td>
                <td>
                    <input name="system.conc" type="text" value="{{item.system.conc}}" data-dtype="String" />
                </td>
            </tr>
        </table>
        <textarea name="system.note">{{item.system.note}}</textarea>
    </div>
</form>